<li>{{data.username}} </li>
<li>{{data.email}} </li>
<li>{{data.password}} </li>
<li>{{data.password}} </li>
<p>
    here is the age after 10 years :{{calculation 10}}
</p>
<p>

    {{#strong}}
    HERE IS SAMPLE
    {{/strong}}
</p>